// Mixins for use on [THEME]
// Author: Catchfire Creative
// Table of Contents:
// I.   Clearfix
// II.  Breakpoints
// III. Helpers


/* ==========================================================================
  Trusty Clearfix
========================================================================== */
clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* ==========================================================================
  Breakpoints
========================================================================== */
breakpoint(point) {
  @media screen and (min-width: point) { {block} }
}


/* ==========================================================================
  Helpers
========================================================================== */

//----------Bare List
strip-list() {
  list-style: none;
  padding-left: 0;
}

//----------Screen Reader Text
screen-reader-text() {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


//----------Form Fields / Groupings
placeholder() {
  ::placeholder {
    {block}
  }
  :placeholder {
    {block}
  }
  /* Chrome/Opera/Safari */
  ::-webkit-input-placeholder {
    {block}
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    {block}
  }
  /* IE 10+ */
  :-ms-input-placeholder {
    {block}
  }
  /* Firefox 18- */
  :-moz-placeholder {
    {block}
  }
}

