@function is-map($var) {
  @return type-of($var) == 'map';
}

@function just-values($var) {
  @if is-map($var) {
    @return map-values($var);
  }
  @return $var;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@function sum($list) {
  $total: 0;
  @each $item in $list {
    // Check it's the first item in the list and set it as the total
    // needed for adding units, otherwise Sass assumes string add
    @if $item == nth($list, 1) {
      $total: $item;
    }
    // For each item in the list, add it to the total
    $total: $total + $item;
  }
  @return $total;
}

