// Mixins for use on [THEME]
// Author: Catchfire Creative
// Table of Contents:
// I.   Clearfix
// II.  Helpers
// III. Breakpoints


//----------Trusty Clearfix

@mixin clearfix-before() {
  &:before {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin clearfix-both() {
  @include clearfix-before;
  @include clearfix;
}


//----------Helpers

/* Responsive aspect-ratio-preserving container
 *  - uncle-dave is the wrapper which sets the aspect ratio
 *  - daves-nephew is the element containing the content
 */
@mixin uncle-dave($aspect-x:1, $aspect-y:1, $width-factor:1) {
  height: 0;
  width: 100% * $width-factor;
  padding-bottom: percentage($aspect-y*$width-factor/$aspect-x);
  position: relative;
  overflow: hidden;
}
@mixin daves-nephew() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// reset
@mixin murder-uncle-dave() {
  height: auto;
  width: auto;
  padding-bottom: 0;
  position: static;
  overflow: visible;
}
// reset
@mixin murder-daves-nephew() {
  position: static;
  height: auto;
  width: auto;
}


//----------Breakpoints

@mixin breakpoint($point) {
  @media screen and (min-width: $point) { @content; }
}

