{% extends 'layouts/base.twig' %}

{% block head %}
  {% include 'partials/head.twig' %}

  <link href="https://fonts.googleapis.com/css?family=Exo:100" rel="stylesheet">
  

  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background-color: #ECF0F1;
      font-family: 'Exo', sans-serif;
      color: #4C5A69;
      font-weight: 100;
    }
    .main {
      text-align: center;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
    h1 {
      font-size: 4rem;
      margin: 0 0 0.5rem 0;
    }
    p {
      font-size: 2rem;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Halt and Catchfire!</h1>
    <p>Halt is installed and ready.</p>
  </div>
{% endblock %}
