{% extends 'layouts/base.twig' %}

{% block head %}
  {% include 'partials/head.twig' %}

  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

  <style>
    body {
      background-color: #1B2B34;
      font-family: 'Oxygen', sans-serif;
      color: #EC6153;
      margin: 0;
      padding-bottom: 4rem;
    }
    a {
      color: #EC6153;
    }
    .container {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
    h1 {
      font-size: 4rem;
    }
    ul {
      display: inline-block;
      text-align: left;
    }
    p {
      font-size: 2rem;
    }
    .site-header {
      padding: 1rem;
      text-align: center;
    }
    .main {
      text-align: center;
    }
    .site-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 1rem;
      background-color: #1B2B34;
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Halt and Catchfire!</h1>

    <p>Halt is installed and ready.</p>

    <div>
      <img src="{{ 'sample.gif' | halt_images }}" alt="sample image">
    </div>

  </div>
{% endblock %}
