// Mixins for use on [THEME]
// Author: Catchfire Creative
// Table of Contents:
// I.  Clearfix
// II. Breakpoints

//----------Trusty Clearfix
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//----------Breakpoints
@mixin breakpoint($point) {
  @if $point == forrest {
    @media (max-width: 68.75em) { @content; }
  }
  @else if $point == tree {
    @media (max-width: 53em) { @content; }
  }
  @else if $point == sapling {
    @media (max-width: 40em) { @content; }
  }
  @else if $point == seedling {
    @media (max-width: 38.75em) { @content; }
  }
}
